<div class='text-center'>
  <h3>Trip details</h3>
  <p>Departing on: <%= @trip.depart_date.strftime('%b %e') %></p>
  <p>Departing from: <%= @trip.depart_city.name %></p>
  <p>Seats remaining: <%= @trip.seats_left %></p>
  <h3>Passengers</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class='text-center'>Name</th>
        <th class='text-center'>Email</th>
        <th class='text-center'>Phone</th>
        <th></th>
      </tr>
    </thead>
    <% @trip.tickets.each do |ticket| %>
      <% passenger = ticket.passenger %>
      <% if passenger.present? %>
        <tr>
          <td><a href='/admin/passenger/<%= passenger.id %>'><%= "#{passenger.first_name} #{passenger.last_name}" %></a></td>
          <td><%= passenger.email %></td>
          <td><%= passenger.phone_number.present? ? passenger.phone_number : 'None provided' %></td>
          <td>
            <% if ticket.refunded? %>
              Refunded
            <% else %>
              <a href='/admin/trip/<%= @trip.id %>/ticket/<%= ticket.id %>/refund' class='btn btn-default btn-sm' onclick="return confirm('Are you sure ?')">Mark refunded</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
