<%= erb :follow_nav %>
<div id="switch-follow-nav-waypoint"></div>
<!-- Id is later switched to hide-follow-nav-waypoint -->
<div id="follow-nav" class="container-fluid base-head">
	<div class="row">
			<div class="col-sm-4 center"><img class="landing-logo" src="/svgs/LOGO.svg" alt="sleepbus logo"></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4 center"><!-- button class="book-trip btn btn-lg"> Book Trip Now</button> --></div>
	</div>
</div>
<div class="sf-background-image-holder background-image-holder">
	<div class="skyline-background sf-skyline"></div>
</div>
	<!-- <img src="/images/SF.png" srcset="/images/SF@2x.png 2x" alt="SF skyline" class="skyline-background sf-skyline "> -->
	<!-- <img src="/images/LA.png" srcset="/images/LA@2x.png 2x" alt="LA skyline" class="skyline-background la-skyline "> -->

<%= erb :home_row1 %>
<%= erb :home_row2 %>

<!-- <div class="la-background-image-holder background-image-holder">
	<div class="skyline-background la-skyline"></div>
</div> -->
<footer>
	<%= erb :footer %>
</footer>

<%= erb :modal_fake_pay %>
